<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}{% endblock %}
    {% block scripts %}{% endblock %}
    
    <style>
        body {
            display: flex;
            flex-direction: row;
            margin: 0; /* 기본 마진 제거 */
        }
        .sidebar {
            flex: 1;
            background-color: #f0f0f0;
            padding: 20px;
            border-right: 1px solid #ccc; /* 오른쪽에 회색 선 추가 */
        }
        .content {
            flex: 3;
            padding: 20px;
        }
    </style>

</head>
<body>
    <div class="sidebar">
        <div>
            <img id="profile_image_in_base" src="#" url="{% url 'posts:get_profile_image'%}" class="profile_image_img invisible" alt="Profile Image", style="max-width: 53px;">
            <b id="login_name" check_url="{% url 'posts:logined_id' %}">로그인이 필요합니다.</b>
            <a id="logout_button" class="invisible" href="{% url 'posts:logout' %}">로그아웃</a>
        </div>
        <div class="home_button">
            <a href="{% url 'posts:post_list' %}">Home</a></li>
        </div>
        <div class="search_button">
            <a href="#">Search</a></li>
        </div>
        <div class="search_expl">
            <a href="#">탐색</a></li>
        </div>        
        <div class="search_rels">
            <a href="#">릴스</a></li>
        </div>        
        <div class="create_article">
            <a href="#">만들기</a></li>
        </div>        

    </div>
    <div class="content">
        {% block content %}post list{% endblock %}
    </div>
</body>
</html>
