

{% extends 'base.html' %}
{% load static %}

{% block title %}Post List{% endblock %}
{% block styles %}
    <style>

    .article_top, .article_content, .article_buttons, .article_comment {
        border: 1px solid #999; /* 테두리 스타일 지정 (회색) */
        padding: 10px;
        margin: 10px 0;
    }
    .articles{
        border: 1px solid #999; /* 테두리 스타일 지정 (회색) */
        margin-bottom: 20px; /* 아티클 간격 늘리기 */

    }
    .article_top {
        display: flex;
        justify-content: space-between; /* 요소 사이의 간격을 균등하게 배치 */
    }
    .display_flex{
        display:flex;
    }

    .article_section {
        display: grid;
        place-items: center; /* 가로, 세로 중앙 정렬 */
    }
    .article_content img {
        width: 100%; /* 이미지의 너비를 100%로 설정하여 div에 맞게 축소 */
        height: auto; /* 이미지의 높이를 자동 조절하여 비율을 유지 */
    }

    .like_comment_share_save {
        display: flex;
      }
      
    .like_comment_share_save_button {
        flex: 1; /* Distribute available space equally */
        border: 1px solid black;
        padding: 10px;
        margin: 5px;
    }
    .finger-cursor {
        /* 기본 스타일 */
        cursor: pointer; /* 손가락 모양으로 변경 */
    }
    .invisible{
        display: none;
    }
    .visible{
        display: inline;
    }
    .visible_block{
        display: block;
    }

    </style>

    <style> /*모달*/
    .modal-overlay {
        display: none;
        position: fixed;
            top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
    }

    .modal {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        max-width: 80%;
        width: 80%;
        height: 80%;
        text-align: center;
        position: relative;
    }
    .comment_threeDot_modal {
        background-color: white;
        border-radius: 8px;
        max-width: 20%;
        width: 20%;
        height: 20%;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .comment_threeDot_button{
        height: 100%;
        align-items: center; /* 수직 중앙 정렬 */
        display: flex;
        justify-content: center;
    }
    .comment_threeDot_span{
        display: inline-block;
        vertical-align: middle;
    }
    .comment_threeDot_border {
        border-top: 1px solid gray; /* 위에 회색 테두리 설정 */
        border-bottom: 1px solid gray; /* 아래에 회색 테두리 설정 */
        /* 다른 스타일 속성들을 추가할 수 있습니다. */
    }    
    .modal-close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 80px;
        cursor: pointer;
    }

    .modal-content {
        border: 1px solid #999; /* 테두리 스타일 지정 (회색) */
        width: 100%;
        height: 100%;
        display: flex;

    }
    .modal_image_div{
        border: 1px solid #999; /* 테두리 스타일 지정 (회색) */
        width: 60%;
        height: 100%;
    }
    .modal_right_div{
        border: 1px solid #999; /* 테두리 스타일 지정 (회색) */
        width: 40%;
        height: 100%;
    }    
    .post_image_url_img{
        width: 100%;
        max-height:100%;
    }
    .comment_profile_img{
        max-width: 53px;
    }
    .modal_scroll_div{
        overflow: auto; /* 내용이 박스를 벗어나면 스크롤 생성 */
        max-height:50%;
    }
    .font_light_sky_blue{
        color: rgb(202, 233, 245); 
    }
    .font_sky_blue{
        color: rgb(117, 177, 200); 
    }
    .font_black{
        color: rgb(0, 0, 0); 
    }

    .comment_answer_div{
        margin-left: 10%; /* 좌측 마진을 10%로 설정 */
        border: 3px solid red;
    }
</style>
{% endblock %}
{%block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/add_article.js' %}"></script>
<script src="{% static 'js/check_login.js'%}"></script>
<script src="{% static 'js/get_profile_image.js'%}"></script>


<script> 

document.addEventListener("DOMContentLoaded", function() {
        
    // 클래스가 "submit_comment_button"인 모든 요소를 가져옵니다.
    const submitButtons = document.querySelectorAll(".submit_comment_button");
      
    // 모든 submit 버튼에 대한 이벤트 리스너를 추가합니다.
    submitButtons.forEach(function(button) {
        submit_comment_button_color_change(button);
    });
});

function submit_comment_button_color_change(submit_button){
    const add_box = findChildByClass(submit_button.parentNode, 'comment_content_box');

    add_box.addEventListener('input', function() {
        if (this.value.trim() !== '') {
            console.log("인풋박스 뭔가있다. 폰트 스카이블루")
            submit_button.classList.remove('invisible') ;                           
            submit_button.classList.add('font_sky_blue') ;               
        } else {
            console.log("인풋박스 뭔가있다. 폰트 라이트 스카이블루")
            submit_button.classList.add('invisible') ;                           
        }
    });
    submit_button.addEventListener('mouseover', function() {
        if(add_box.value.trim()!==''){
            this.classList.add('font_black');
        }
    });
    submit_button.addEventListener('mouseout', function() {
        this.classList.remove('font_black');
    });
    $(submit_button).on('click', function () { // post에 댓글을 단다.
        const csrftoken=getCookie('csrftoken');   
        const parent=findParentByClass(submit_button, 'articles');
        const articlePk=parent.getAttribute('data-pk');
        const text_box=findChildByClass(parent, 'comment_content_box');
        const comment_value= text_box.value;
        const url_value='{% url "posts:add_comment" 0 %}'.replace('0', articlePk);
        const parent_comment_pk=-1;
        //console.log("url : "+url_value);
        $.ajax({
            type: 'POST',
            url : url_value,
            headers: {"X-CSRFToken":csrftoken},
            data: {
                'content': comment_value,  // 댓글 내용 전달
                'comment_parent':parent_comment_pk
            },
            success: function (response) { //
                const data=response.message;
                const userName_node=findChildByClass(document, "userName");
                const userName=userName_node.textContent;
                const comment_box=findChildByClass(parent, 'added_comment');
                comment_box.innerHTML="";
                const comment_num_span=findChildByClass(parent,'show_all_comments_2');
                console.log(comment_num_span.textContent);
                comment_num_span.textContent="댓글 "+data.length+"개 모두보기";
                console.log(comment_num_span.textContent);

                for (let i = 0; i < data.length; i++) {
                    if(data[i].userName==userName){
                        comment_box.classList.remove('invisible');
                        const comment_div = document.createElement('div');
                        const userName_span=document.createElement('span');
                        const content_span=document.createElement('span');
                        userName_span.textContent=userName;
                        
                        content_span.textContent=data[i].text;
                        console.log(content_span.textContent);
                        comment_div.appendChild(userName_span);
                        comment_div.appendChild(content_span);
                        comment_box.appendChild(comment_div);
                    }
                }   
            }
        });
    });
}


$(document).ready(function () { //더보기 누르기
    $('.show_content').on('click', function () {
        var show_content_button = $(this);
        var article = show_content_button.closest('.articles');
        var content_span = article.find('.article_content_span'); // num_of_like_b 요소 선택
            
        show_content_button.css('display', 'none'); // 또는 'inline' 또는 'inline-block' 등으로 설정
        content_span.css('display', 'inline'); // 또는 'inline' 또는 'inline-block' 등으로 설정
    });
});
$(document).ready(function () {  // article like 누르기
    $('.like_button').on('click', like_button_click);
});
function like_button_click(){// article에 좋아요를 누른다.
    const csrftoken=getCookie('csrftoken');   
    const articlePk =$(this).data('pk');
    const likeButton = $(this);
    const article = likeButton.closest('.articles');
    const modal=likeButton.closest('.modal');
    var numLikeElement=0;
    const url_value='{% url "posts:like_article_button_click" 0 %}'.replace('0', articlePk);
    if (typeof article.attr('class') === 'undefined') {
        numLikeElement = modal.find('.num_of_like_b');
    }
    else{
        numLikeElement = article.find('.num_of_like_b');
    }
    
    $.ajax({
        type: 'POST',
        url: url_value,
        headers: {"X-CSRFToken":csrftoken},
        success: function (response) {
            if(response.message==='cancel'){
                src='{{ like_heart_black_image.image_file.url }}';
            }
            else {
                src='{{ like_heart_red_image.image_file.url }}';
            }
            likeButton.attr('src',src);
            numLikeElement.text('좋아요 ' + response.likes_num + '개'); 
        }
    });
}
</script>
<script>
    function comment_like_button_click(button, article_pk, commentPK){ //댓글에 좋아요를 누른다.
        console.log("run comment_like_button_click ajax");
        console.log("article pk :"+article_pk);
        console.log("comment_pk:"+commentPK);
        console.log("버튼의 pk:"+button.getAttribute('data-pk'));
        console.log("버튼 :"+button.classList);
        const csrftoken=getCookie('csrftoken');   
        const modal=findParentByClass(button, 'each_comment_div');
        var numLikeElement=0;
        const url_value='{% url "posts:like_comment_button_click" 0 %}'.replace('0', commentPK);
        numLikeElement=findChildByClass(modal,'comment_like_num_span');
        button.setAttribute('aa', 'bb');
        $.ajax({
            type: 'POST',
            url: url_value,
            headers: {"X-CSRFToken":csrftoken},
            data: {
                'article': article_pk  
            },
            success: function (response) {
                if(response.message==='cancel'){
                    console.log("like cancel");
                    button.textContent="♡";
                }
                else {
                    console.log("like add");
                    button.textContent="♥";

                }
                numLikeElement.textContent="좋아요" + response.likes_num + '개';
                if(response.likes_num==0){
                    numLikeElement.classList.add('invisible');
                }
                else{
                    numLikeElement.classList.remove('invisible');
                }
                console.log("button.textContent : "+button.textContent);
            }
        });
    }

</script>
<script> //utility
function getTmeeDifference_with_django(){
    const elements = document.querySelectorAll(".post_created_at");// 가져온 요소들을 반복하며 값 변경
    elements.forEach(function (element) {
        const created_at=element.textContent;
        const createdDate = new Date(created_at);
        const currentDate = new Date();
        const timeDifference = currentDate - createdDate;
        const seconds = Math.floor(timeDifference / 1000);
        const minutes = Math.floor(seconds  / 60);
        const hours = Math.floor(minutes / 60);
        const days = Math.floor(hours / 24);
        const months = Math.floor(days / 30); // 월은 평균 30일로 가정
        const years = Math.floor(months / 12);
        let duration='0초';
        if(years>0){
            duration=`${years}년`;
        }
        else if(months>0){
            duration=`${months}월`;
        }
        else if(days>0){
            duration=`${days}일`;
        }
        else if(hours>0){
            duration=`${hours}시간`;
        }
        else if(minutes>0){
            duration=`${minutes}분`;
        }
        else{
            duration=`${seconds}초`;
        }
        element.textContent = duration; // 원하는 값으로 변경
    });
}
    window.onload = function () {
        getTmeeDifference_with_django();
    };
    function getTimeDifference(targetTime) {
        const currentTime = new Date();
        const givenTime = new Date(targetTime);
      
        const timeDifferenceMs = currentTime-givenTime ;
      
        const millisecondsInSecond = 1000;
        const millisecondsInMinute = millisecondsInSecond * 60;
        const millisecondsInHour = millisecondsInMinute * 60;
        const millisecondsInDay = millisecondsInHour * 24;
      
        const days = Math.floor(timeDifferenceMs / millisecondsInDay);
        const hours = Math.floor((timeDifferenceMs % millisecondsInDay) / millisecondsInHour);
        const minutes = Math.floor((timeDifferenceMs % millisecondsInHour) / millisecondsInMinute);
        const seconds = Math.floor((timeDifferenceMs % millisecondsInMinute) / millisecondsInSecond);
        if(days>0){
            return `${days}일`;
        }
        else if(hours>0){
            return `${hours}시간`;
        }
        else if(minutes>0){
            return `${minutes}분`;
        }
        else{
            return `${seconds}초`;
        }
    }
</script>
<script>
    /*
    document.addEventListener('DOMContentLoaded', function() { //게시 버튼 invisible/visible
        const textareas = document.querySelectorAll('.add_comment_content');
      
        textareas.forEach(textarea => {
          textarea.addEventListener('input', function() {
            const parent = this.parentElement; // 부모 노드를 가져옵니다.
            const submitButton = parent.querySelector('.submit_comment'); // 부모 노드에서 submit_comment를 검색합니다.
            if (this.value.trim() !== '') {
                submitButton.classList.remove('invisible'); // 클래스 제거
            } else {
              submitButton.classList.add('invisible'); // 클래스 추가
            }
          });
        });
    });
    */
</script>

<script>//모달 처리

document.addEventListener('DOMContentLoaded', () => {
    
    const openModalBtns = document.querySelectorAll('.show_all_comments'); // 버튼 불러오기
    const modalOverlay = document.createElement('div');         // 모달오버레이 div 생성
    const modal_box = document.createElement('div');            // 모달         div 생성
    const modalContent = document.createElement('div');         // 모달 콘텐트   div 생성
    const modalCloseButton = document.createElement('button');  // 모달클로즈    
    const modal_image_div = document.createElement('div');  // modal_image_div    
    const modal_right_div = document.createElement('div');  // modal_right_div    
    const modal_right_author_div = document.createElement('div');  // modal_right_div
    const modal_profile_and_content_value_div = document.createElement('div'); 
    const modal_profile_div = document.createElement('div'); 
    const modal_content_value_div=document.createElement('div'); 
    const modal_comment_div=document.createElement('div');
    const modal_post_like_line=document.createElement('div');
    const modal_post_like_num_line=document.createElement('div');
    const modal_post_created_at=document.createElement('div');
    const modal_comment_add_line=document.createElement('div');
    const modal_scroll_div=document.createElement('div');
    
    modalOverlay.classList.add('modal-overlay'); // 모달오버레이 div에 class 속성 추가
    modal_box.classList.add('modal');           // 모달 박스 div에 class 속성 추가
    modalContent.classList.add('modal-content'); // 모달콘텐트 div에 class 속성 추가
    modalCloseButton.classList.add('modal-close'); // 모달 button class 속성 추가
    modalCloseButton.innerHTML = '&times;'; // 모달 닫기 아이콘 추가
    modal_image_div.classList.add('modal_image_div');
    modal_right_div.classList.add('modal_right_div');
    modal_right_author_div.classList.add('modal_right_author_div', 'display_flex');
    modal_profile_and_content_value_div.classList.add('modal_profile_and_content_value_div','display_flex');
    modal_profile_div.classList.add('modal_profile_div');
    modal_content_value_div.classList.add('modal_content_value_div');
    modal_comment_div.classList.add('modal_comment_div');
    modal_post_like_line.classList.add('modal_post_like_line', 'display_flex');
    modal_post_like_num_line.classList.add('modal_post_like_num_line');
    modal_post_created_at.classList.add('mdal_post_created_at');
    modal_comment_add_line.classList.add('modal_comment_add_line');
    modal_scroll_div.classList.add('modal_scroll_div');
    

    openModalBtns.forEach(btn => {
        btn.addEventListener('click',  () => {
            document.body.appendChild(modalOverlay);
            modalOverlay.appendChild(modal_box);
            modal_box.appendChild(modalCloseButton);
            modal_box.appendChild(modalContent);
            modalContent.appendChild(modal_image_div);
            modalContent.appendChild(modal_right_div);
            modal_right_div.appendChild(modal_right_author_div);
            modal_right_div.appendChild(modal_scroll_div);
            modal_scroll_div.appendChild(modal_profile_and_content_value_div);
            modal_scroll_div.appendChild(modal_comment_div);

            modal_profile_and_content_value_div.appendChild(modal_profile_div);
            modal_profile_and_content_value_div.appendChild(modal_content_value_div);
            modal_right_div.appendChild(modal_post_like_line);
            modal_right_div.appendChild(modal_post_like_num_line);
            modal_right_div.appendChild(modal_post_created_at);
            modal_right_div.appendChild(modal_comment_add_line);

            
            

            
            modalOverlay.style.display = 'flex';
            top_parent=findParentByClass(btn, "articles");

            //  content_image를 넣는다.
            var article_content_div=findChildByClass(top_parent, "article_content");
            modal_image_div.innerHTML = article_content_div.innerHTML;

            // article_top을 넣는다.
            var article_top_div=findChildByClass(top_parent, "article_top");
            modal_right_author_div.innerHTML=article_top_div.innerHTML;

            //모달에 프로파일 이미지를 넣는다.
            var modral_profile_image_div=findChildByClass(top_parent, "profile_image");
            modal_profile_div.innerHTML=modral_profile_image_div.innerHTML;

            //모달에 본문 넣는다.
            var mordal_author_caption_content_tag=findChildByClass(top_parent, "author_caption_content_tag");
            modal_content_value_div.innerHTML= mordal_author_caption_content_tag.innerHTML;
            findChildByClass(modal_content_value_div, "show_content").remove() //더보기 노드 제거
            findChildByClass(modal_content_value_div, "article_content_span").classList.add('visible'); //본문 보여주기

            // 모달에 코멘트 넣는다.
            const dataPkValue = top_parent.getAttribute('data-pk'); 
            get_modal_comment(dataPkValue,modal_comment_div); //////////////////////////////////////

            // 모달에 좋아요 있는 div 넣는다.
            var like_comment_share_save=findChildByClass(top_parent, "like_comment_share_save");
            modal_post_like_line.innerHTML=like_comment_share_save.innerHTML;
            


            
            // 좋아요 숫자 잇는 div 넣는다.
            var num_of_like_row=findChildByClass(top_parent, "num_of_like_row");
            modal_post_like_num_line.innerHTML=num_of_like_row.innerHTML;

            // 포스트 생성 시간 잇는 div
            var post_created_at_value=findChildByClass(top_parent, "post_created_time");
            modal_post_created_at.innerHTML=post_created_at_value.innerHTML;

            // modal에서 댓글추가 창
            const imoticon_span=document.createElement('span'); 
            const modal_comment_add_box=document.createElement('textarea');
            const submit_modal_comment_span=document.createElement('span'); 

            modal_comment_add_box.classList.add("modal_comment_add_box");
            modal_comment_add_box.placeholder = "댓글을 입력하세요...";

            submit_modal_comment_span.classList.add("submit_modal_comment_span",'font_light_sky_blue');

            imoticon_span.textContent="★";
            submit_modal_comment_span.textContent="게시";
            modal_comment_add_line.innerHTML = '';  
            modal_comment_add_line.appendChild(imoticon_span);
            modal_comment_add_line.appendChild(modal_comment_add_box);
            modal_comment_add_line.appendChild(submit_modal_comment_span);
            
            // change "게시" color
            modal_comment_add_box.addEventListener('input', function() {
                if (this.value.trim() !== '') {
                    submit_modal_comment_span.classList.add('font_sky_blue') ;               
                } else {
                    submit_modal_comment_span.classList.remove('font_sky_blue') ;   
                    submit_modal_comment_span.classList.remove('font_black') ;                           
                    submit_modal_comment_span.classList.add('font_light_sky_blue') ; 
                }
            });
            submit_modal_comment_span.addEventListener('mouseover', function() {
                if(modal_comment_add_box.value.trim()!==''){
                    this.classList.add('font_black');
                }
            });
            submit_modal_comment_span.addEventListener('mouseout', function() {
                this.classList.remove('font_black');
            });

            //modal에서 댓글을 단다. 
            $('.submit_modal_comment_span').on('click', function () { // post에 댓글을 단다.

                const csrftoken=getCookie('csrftoken');   
                const articlePk =dataPkValue;
                const submit_button = $(this);
                let parent_comment_pk = submit_button.attr('comment_parent');
                if (typeof parent_comment_pk == 'undefined') {
                    parent_comment_pk=-1;
                }

                const parent_node = submit_button.closest('.modal_comment_add_line');
                const text_area_node = parent_node.find('.modal_comment_add_box'); 
                const comment_value= text_area_node.val();
                const url_value='{% url "posts:add_comment" 0 %}'.replace('0', articlePk);
                console.log("url : "+url_value);
                $.ajax({
                    type: 'POST',
                    url : url_value,
                    headers: {"X-CSRFToken":csrftoken},
                    data: {
                        'content': comment_value,  // 댓글 내용 전달
                        'comment_parent':parent_comment_pk
                    },
                    success: function (response) { //
                        
                        submit_button.removeAttr('comment_parent');

                        modal_comment_add_box.value = "";
                        submit_modal_comment_span.classList.remove('font_sky_blue') ;   
                        submit_modal_comment_span.classList.remove('font_black') ;                           
                        submit_modal_comment_span.classList.add('font_light_sky_blue') ;     
                        //get_modal_comment(articlePk,modal_comment_div);
                        add_each_comment_div_with_json(modal_comment_div, response.message,dataPkValue);

                        modal_scroll_div.scrollTop = 0;
                        
                        if(parent_comment_pk!=-1){ // 대댓글을 달면 해당 대댓글을 visible로 바꾼다.
                            const modal_div=findParentByClass(submit_modal_comment_span, "modal");
                            const father_comment=findChildByClassAndPk(modal_div, "each_comment_div", parent_comment_pk)
                            const commentNumValue = father_comment.getAttribute('comment_num');
                            const comment_answer_div=findChildByClass(father_comment, "comment_answer_div");
                            comment_answer_div.classList.remove('invisible');
                            comment_answer_div.classList.add('visible_block');
                            const hide_sub_comment_button=findChildByClass(father_comment,"hide_sub_comment_button");
                            const hide_sub_comment_button2=findChildByClass(father_comment,"hide_sub_comment_button2");
                            const hide_sub_comment_button3=findChildByClass(father_comment,"hide_sub_comment_button3");

                            hide_sub_comment_button.textContent="ㅡ 답글 숨기기";
                            hide_sub_comment_button2.textContent="";
                            hide_sub_comment_button3.textContent="";
                            //hide_sub_comment_button.textContent="ㅡ 답글 보기(";
                            //hide_sub_comment_button2.textContent=commentNumValue;
                            //hide_sub_comment_button3.textContent="개)";
                        }
                        const modal=findParentByClass(modal_scroll_div, "modal");
                        const ele=findChildByClassAndNewrecord(modal, 'each_comment_div', 'true')    
                        ele.scrollIntoView({ behavior: 'smooth' });

                        
                    }
                });
            });

            //좋아요 클릭햇을때 처리할 리스너 등록
            const like_button_in_modal=findChildByClass(modal_post_like_line, "like_button");
            like_button_in_modal.addEventListener('click', like_button_click);

            //댓글보기 클릭하면 입력창에 커서 focus on
            const show_all_conmment_in_modal=findChildByClass(modal_post_like_line, "show_all_comments");
            show_all_conmment_in_modal.addEventListener('click', function () {
                modal_comment_add_box.focus();
            });
        });
    });
    
    document.addEventListener('click', event => { //모달 닫기
        if (event.target.classList.contains('modal-close')) {
            modalOverlay.style.display = 'none';
            modalOverlay.innerHTML = '';   // 여기 다시 고쳐야한다. 
        }
    });
});
function findParentByClass(element, className) {
    let parent = element.parentElement;
    while (parent && !parent.classList.contains(className)) {
        parent = parent.parentElement;
    }
    return parent;
}
function findChildByClass(node, className) {
    if (node.nodeType === Node.ELEMENT_NODE && node.classList.contains(className)) {
        return node;
    }
    for (const childNode of node.childNodes) {
        const foundNode = findChildByClass(childNode, className);
        if (foundNode) {
            return foundNode;
        }
    }
    return null;
}
function findChildByClassAndPk(node, className, pk) {
    // 노드의 자식 노드들을 반복합니다.
    for (var i = 0; i < node.children.length; i++) {
        var child = node.children[i];
        
        // 클래스 이름이 일치하고 데이터 속성(PK)이 일치하는 경우 해당 노드를 반환합니다.
        if (child.classList.contains(className) && child.getAttribute('data-pk') === pk.toString()) {
            return child;
        }
        
        // 현재 자식 노드의 하위 노드에서 재귀적으로 검색합니다.
        var found = findChildByClassAndPk(child, className, pk);
        if (found) {
            return found;
        }
    }
    // 해당 클래스와 PK를 가진 자식 노드가 없는 경우 null을 반환합니다.
    return null;
}
function findChildByClassAndNewrecord(node, className, new_record) {
    // 노드의 자식 노드들을 반복합니다.
    for (var i = 0; i < node.children.length; i++) {
        var child = node.children[i];


        if (child.classList.contains(className) && child.getAttribute('new_record') === new_record.toString()) {
            return child;
        }
        
        // 현재 자식 노드의 하위 노드에서 재귀적으로 검색합니다.
        var found = findChildByClassAndNewrecord(child, className, new_record);
        if (found) {
            return found;
        }
    }
    return null;
}
function add_each_comment_div_with_json(mother_div, json_data,article_pk){  //mother_div는 modal_comment_div임.
    comment_info_arr=json_data
    //console.log(comment_info_arr);
    div=mother_div;
    div.innerHTML="";

    for (let i = 0; i < comment_info_arr.length; i++) { //each_comment_div 생성
            //json 변수 처리
        var comment_info = comment_info_arr[i];
        var userName = comment_info.userName;
        var text = comment_info.text;
        var image_url=comment_info.profile_image_url;
        var date=getTimeDifference(comment_info.created_at);
        var is_liked=comment_info.is_liked;
        const parent_comment=comment_info.comment_parent;
        const pk=comment_info.pk;
        const comment_num=comment_info.num_of_comment;
        const new_record=comment_info.new_record;
        //console.log(comment_info);
        //each_comment_div 생성
        var each_comment_div=document.createElement('div');
            
            
        const each_comment_div_my=document.createElement('div');
        each_comment_div_my.classList.add('each_comment_div_my', 'display_flex');
        each_comment_div.setAttribute("comment_num", comment_num);

        each_comment_div.appendChild(each_comment_div_my);
            
        each_comment_div.classList.add('each_comment_div');
        each_comment_div.setAttribute('data-pk', pk); 
        each_comment_div.setAttribute('parent', parent_comment); 
        each_comment_div.setAttribute('new_record', new_record);
        div.appendChild(each_comment_div);

         //프로파일 이미지를 넣는 div
        var comment_profile_image=document.createElement('div');
        comment_profile_image.classList.add('comment_profile_image');
        each_comment_div_my.appendChild(comment_profile_image);
        var profile_img=document.createElement('img');
        profile_img.classList.add('comment_profile_img');
        profile_img.src=image_url;
        comment_profile_image.appendChild(profile_img);

            //name_text_like div
        var name_text_like=document.createElement('div');
        name_text_like.classList.add('name_text_like');
        each_comment_div_my.appendChild(name_text_like);

        //name and text div
        var name_and_text=document.createElement('div');
        name_and_text.classList.add('name_and_text');
        name_text_like.appendChild(name_and_text);
        var comment_name=document.createElement('span');
        var comment_text=document.createElement('span');
        name_and_text.appendChild(comment_name);
        name_and_text.appendChild(comment_text);
        comment_name.textContent= userName+"  ";
        comment_text.textContent=text;
        comment_name.style.fontWeight = 'bold';



            // content_like_button div  모달 좋아요 버튼
        var comment_like_button_div=document.createElement('div');
        const comment_like_button=document.createElement('span');
        comment_like_button.classList.add('finger-cursor','comment_like_button');

        comment_like_button_div.appendChild(comment_like_button);
        each_comment_div_my.appendChild(comment_like_button_div);
        if(is_liked){
            comment_like_button.textContent="♥";
        }
        else {
            comment_like_button.textContent="♡";
        }
        comment_like_button.setAttribute('data-pk', pk); 
        comment_like_button.addEventListener('click', function() {
            comment_like_button_click(comment_like_button,article_pk, pk);
        });

        //like_anser_police
        var like_anser_police=document.createElement('div');
        like_anser_police.classList.add('like_anser_police');
        name_text_like.appendChild(like_anser_police);
        var comment_created_at_span=document.createElement('span');
        var comment_like_num_span=document.createElement('span');
        comment_like_num_span.classList.add('comment_like_num_span');

        var comment_answer_span=document.createElement('span');
        comment_answer_span.classList.add('comment_answer_span','finger-cursor');

        var comment_police_span=document.createElement('span');
        like_anser_police.appendChild(comment_created_at_span);
        like_anser_police.appendChild(comment_like_num_span);
        like_anser_police.appendChild(comment_answer_span);
        like_anser_police.appendChild(comment_police_span);
        comment_created_at_span.textContent=date;
        comment_like_num_span.textContent="  좋아요 "+comment_info.num_of_like+"개  ";
        if(comment_info.num_of_like==0){
            comment_like_num_span.classList.add("invisible");
        }
        else {
            comment_like_num_span.classList.remove("invisible");
        }
        comment_answer_span.textContent="  답글 달기  ";
        const svg_ele=createSVG_three_dot();
        comment_police_span.appendChild(svg_ele);


        svg_ele.addEventListener("click", function() {
            console.log("SVG를 클릭했습니다.");
            create_comment_threeDot_modal(pk);
        });


        comment_answer_span.addEventListener('click', function() {
            top_parent=findParentByClass(comment_answer_span, "modal");
            const submit_button=findChildByClass(top_parent, "submit_modal_comment_span");
            if(parent_comment!=null){
                submit_button.setAttribute('comment_parent', parent_comment); 
            }
            else{
                submit_button.setAttribute('comment_parent', pk); 
            }
            const comment_add_box=findChildByClass(top_parent, "modal_comment_add_box");
            comment_add_box.value+="@"+userName+" ";
            comment_add_box.focus();
        });
    }
        //each_comment_div.setAttribute('parent', parent_comment); 
        //for문으로 각 댓글을 순회하며 대댓글을 식별한다. 
        //부모 밑에 div를 만든다.
        // 대댓글을 부모 밑에 집어넣는다. 
        //
    const Nodes = div.querySelectorAll('.each_comment_div');
    Nodes.forEach(function(node) {
        const parent_pk=node.getAttribute('parent');
        if(parent_pk!="null"){
            //console.log("부모잇다 부모pk :"+parent_pk);

                //부모가 될 each_comment_div를 찾는다.
            const parent_comment_div=findChildByClassAndPk(div, "each_comment_div",parent_pk);

            const sub_comment_div=document.createElement('div');
            const hide_sub_comment_div=document.createElement('div');
            const hide_sub_comment_button=document.createElement('span');
            const hide_sub_comment_button2=document.createElement('span');
            const hide_sub_comment_button3=document.createElement('span');
            const comment_answer_div=document.createElement('div');
            let commentNumValue = parent_comment_div.getAttribute('comment_num');
                

                //부모가 comment_answer_div를 갖고있는지 확인한다. 없으면 추가한다. 
            const is_has_comment_answer_div=findChildByClass(parent_comment_div, 'comment_answer_div');
            if(is_has_comment_answer_div==null){//comment_answer_div 없으면 추가
                sub_comment_div.classList.add('sub_comment_div');

                hide_sub_comment_div.classList.add('hide_sub_comment_div');
                    
                hide_sub_comment_button.textContent="ㅡ 답글 보기(";
                hide_sub_comment_button2.textContent=commentNumValue;
                hide_sub_comment_button3.textContent="개)";
                hide_sub_comment_button.classList.add('hide_sub_comment_button','finger-cursor');
                hide_sub_comment_button2.classList.add('hide_sub_comment_button','hide_sub_comment_button2','finger-cursor');
                hide_sub_comment_button3.classList.add('hide_sub_comment_button','hide_sub_comment_button3','finger-cursor');

                hide_sub_comment_div.appendChild(hide_sub_comment_button);
                hide_sub_comment_div.appendChild(hide_sub_comment_button2);
                hide_sub_comment_div.appendChild(hide_sub_comment_button3);

                comment_answer_div.classList.add('comment_answer_div','invisible');
                parent_comment_div.appendChild(sub_comment_div);
                sub_comment_div.appendChild(hide_sub_comment_div);
                sub_comment_div.appendChild(comment_answer_div);

            }
            const new_home=findChildByClass(parent_comment_div, 'comment_answer_div');
            //부모가 있는놈은 div 제거한 후에 부모 밑으로 옮긴다. 
            div.removeChild(node);
            new_home.insertBefore(node, new_home.firstChild);

            hide_sub_comment_div.addEventListener('click', function () { 
                const classList = comment_answer_div.classList;
                const hasInvisibleClass = classList.contains('invisible');
                if(hasInvisibleClass){
                    comment_answer_div.classList.remove('invisible');
                    comment_answer_div.classList.add('visible_block');
                    hide_sub_comment_button.textContent="ㅡ 답글 숨기기";
                    hide_sub_comment_button2.textContent="";
                    hide_sub_comment_button3.textContent="";
                }else{
                    commentNumValue = parent_comment_div.getAttribute('comment_num')
                    comment_answer_div.classList.remove('visible_block');
                    comment_answer_div.classList.add('invisible');
                    hide_sub_comment_button.textContent="ㅡ 답글 보기(";
                    hide_sub_comment_button2.textContent=commentNumValue;
                    hide_sub_comment_button3.textContent="개)";
                }
            });

        }

    });
}
function get_modal_comment(article_pk,div){ // modal에 comment를 불러온다.
    const dataToSend = {article_pk: 'value1'};
    var csrftoken=getCookie('csrftoken');   
    var url_value='{% url "posts:add_comment" 0 %}'.replace('0', article_pk);
    fetch(url_value, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken // CSRF 토큰을 헤더에 추가
        },
        body: JSON.stringify(dataToSend) // JSON 데이터를 문자열로 변환하여 전송
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Request failed:', response.status);
        }
        return response.json(); // JSON 데이터 추출
    })
    .then(data => {
        add_each_comment_div_with_json(div, data.message, article_pk);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}
function getCookie(name){    //쿠키에서 csrftoken 불러온다
    var cookieValue=null;
    if(document.cookie && document.cookie !==''){
       var cookies=document.cookie.split(';');
       for(var i =0 ; i< cookies.length; i++){
         var cookie=cookies[i].trim();
         if(cookie.substring(0, name.length+1)===(name+'=')){
              var my_token=cookie.substring(name.length+1);
              cookieValue=decodeURIComponent(my_token);
              break;
         }
       }
    }    
    return cookieValue;
 }

function createSVG_three_dot(){
    // SVG 요소를 생성합니다.
    const svgElement = document.createElementNS("http://www.w3.org/2000/svg", "svg");
    svgElement.setAttribute("aria-label", "댓글 옵션");
    svgElement.setAttribute("color", "rgb(115, 115, 115)");
    svgElement.setAttribute("fill", "rgb(115, 115, 115)");
    svgElement.setAttribute("height", "24");
    svgElement.setAttribute("role", "img");
    svgElement.setAttribute("viewBox", "0 0 24 24");
    svgElement.setAttribute("width", "24");
    svgElement.classList.add('finger-cursor');

    // title 요소를 생성하고 내용을 설정합니다.
    const titleElement = document.createElementNS("http://www.w3.org/2000/svg", "title");
    titleElement.textContent = "댓글 옵션";
    svgElement.appendChild(titleElement);

    // circle 요소를 생성합니다.
    for (let i = 0; i < 3; i++) {
        const circleElement = document.createElementNS("http://www.w3.org/2000/svg", "circle");
        circleElement.setAttribute("cx", (i * 6 + 6).toString());
        circleElement.setAttribute("cy", "12");
        circleElement.setAttribute("r", "1.5");
        svgElement.appendChild(circleElement);
    }
    return svgElement;
}

function create_comment_threeDot_modal(comment_pk){
//신고, 삭제, 취소 모달
    const modalOverlay = document.createElement('div');        
    modalOverlay.classList.add('modal-overlay'); 
    const modal = document.createElement('div');           
    modal.classList.add('comment_threeDot_modal'); 
    document.body.appendChild(modalOverlay);
    modalOverlay.appendChild(modal);
    modalOverlay.style.display = 'flex';

    const report_div=document.createElement('div');
    const delete_div=document.createElement('div');
    const cancel_div=document.createElement('div');

    report_div.classList.add('comment_threeDot_button','finger-cursor'); 
    delete_div.classList.add('comment_threeDot_button','finger-cursor', 'comment_threeDot_border'); 
    cancel_div.classList.add('comment_threeDot_button', 'finger-cursor'); 

    modal.appendChild(report_div);
    modal.appendChild(delete_div);
    modal.appendChild(cancel_div);

    const report_span=document.createElement('span');
    const delete_span=document.createElement('span');
    const cancel_span=document.createElement('span');

    report_span.classList.add('comment_threeDot_span'); 
    delete_span.classList.add('comment_threeDot_span'); 
    cancel_span.classList.add('comment_threeDot_span'); 

    report_span.textContent="신고";
    delete_span.textContent="삭제";
    cancel_span.textContent="취소";

    report_div.appendChild(report_span);
    delete_div.appendChild(delete_span);
    cancel_div.appendChild(cancel_span);


    
    console.log("모달 추가");
    modalOverlay.addEventListener("click", function() {
        modalOverlay.style.display = 'none';
    });
    modal.addEventListener('click', function(event) {
        event.stopPropagation();
    });
    cancel_div.addEventListener('click', function(event) {
        modalOverlay.style.display = 'none';
    });
    delete_div.addEventListener('click', function(event){
        const dataToSend = {comment_pk: 'value1'};
        console.log("comment_pk : "+comment_pk);
        var csrftoken=getCookie('csrftoken');   
        var url_value='{% url "posts:delete_comment" 0 %}'.replace('0', comment_pk);
        console.log("url : "+url_value);
        fetch(url_value, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken // CSRF 토큰을 헤더에 추가
            },
            body: JSON.stringify(dataToSend) // JSON 데이터를 문자열로 변환하여 전송
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Request failed:', response.status);
            }
            return response.json(); // JSON 데이터 추출
        })
        .then(data => {
            if(data.message=='ok'){
                const comment_div=findChildByClassAndPk(document, "each_comment_div", comment_pk)
                const parent_pk=comment_div.getAttribute('parent')
                console.log("parent_pk="+parent_pk);
                if(parent_pk!="null"){
                    console.log("parent_pk가 null이 아니다")
                    const parent_comment_div=findParentByClass(comment_div,'each_comment_div');
                    const parent_child_num=parent_comment_div.getAttribute('comment_num');
                    parent_comment_div.setAttribute('comment_num', parent_child_num-1);
                    const new_comment_num=parent_child_num-1;
                    if(new_comment_num==0){
                        const sub_div=findChildByClass(parent_comment_div,'sub_comment_div');
                        sub_div.parentNode.removeChild(sub_div);
                    }
                }
                comment_div.parentNode.removeChild(comment_div);
                modalOverlay.style.display = 'none';
            }
            else {
                alert("fail to delete");
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
}
</script>

<script> // 스크롤 할 때 비디오가 보이면 재생

window.onload = function () {
    var videoElements = document.querySelectorAll(".article_video");
    function handleScroll() {
        var windowHeight = window.innerHeight || document.documentElement.clientHeight;

        videoElements.forEach(function(element) {
            var rect = element.getBoundingClientRect();
            if (rect.top <= windowHeight && rect.bottom >= 0) {
                element.loop = true; 
                element.play();
            } else{
                element.loop = false;
                element.pause();
            }
        });
    }
     window.addEventListener("scroll", function() {
        handleScroll();
    });
}

</script>

<script> // upload url 추가
    $(document).ready(function () { //더보기 누르기
        const container = document.getElementById('article_section_div'); // 기존에 있는 div의 id를 사용
        const newDiv = document.createElement('div');
        newDiv.setAttribute('id', 'createArticleUrl');
        newDiv.setAttribute('create_article_url', '{% url "posts:create_article" %}');
        container.appendChild(newDiv);
    });

</script>


{%endblock%}

{% block content %}
    <h1 class="userName invisible">han</h1>
    
 
    <h1>Instagram-like Posts</h1>
    <div class="article_section"  id="article_section_div" style="max-width: 630px; width: 100%;">
        {% for post in posts %}
            <article  class="articles" data-pk="{{post.pk}}" style="width: 470px;">
                <div class="article_top">
                    <div class="profile_image">
                        {% if profile_image %}
                            <!--
                            <img src="{{ profile_image.images.image.url }}" class="profile_image_img" alt="Profile Image", style="max-width: 53px;">
                            -->
                            <img src="{{ post.author_profile_image_url }}" class="profile_image_img" alt="Profile Image", style="max-width: 53px;">
                            {% else %}
                            <p>No profile image available.</p>
                        {% endif %}                    
                    </div>
                    <div class="user_name">
                        <span class="post_author">{{post.author}}</span>
                    </div>
                    <div class="dot">
                        -
                    </div>
                    <div class="post_created_time">
                        <span class="post_created_at">{{ post.created_at}}</span>   
                    </div>
                    <div class="three_dot">
                        <svg aria-label="댓글 옵션" 
                            color="rgb(115, 115, 115)" 
                            fill="rgb(115, 115, 115)" 
                            height="24" 
                            role="img" 
                            viewBox="0 0 24 24" 
                            width="24">
                            <title>댓글 옵션</title>
                            <circle cx="12" cy="12" r="1.5"></circle>
                            <circle cx="6" cy="12" r="1.5"></circle>
                            <circle cx="18" cy="12" r="1.5"></circle>
                        </svg>
                    </div>
                </div>
                <div class="article_content" >
                    {% if post.content_type == 1 %}

                        <img src="{{ post.images.image.url }}" class="post_image_url_img" alt="article_Image">
                    {% elif post.content_type == 2 %}
                        <video class="article_video" width=50% controls muted>
                            <source src="{{ post.video.video.url }}" type="video/mp4">
                        </video>
                    {% endif %}
                </div>
                <div class="like_comment_share_save">
                    <div class="like_button_div like_comment_share_save_button">
                        {%if post.is_liked %}
                            <img class="like_button finger-cursor" data-pk="{{post.pk}}" src="{{ like_heart_red_image.image_file.url }}" alt="Like Heart red Image" >
                        {% else %}
                            <img class="like_button finger-cursor" data-pk="{{post.pk}}" src="{{ like_heart_black_image.image_file.url }}" alt="Like Heart black Image" >
                        {%endif%}
                    </div>
                    <div class="add_comment_button_div like_comment_share_save_button">
                        <svg 
                        	aria-label="댓글 달기" 
                        	class="finger-cursor show_all_comments" 
                        	color="rgb(0, 0, 0)" 
                        	fill="rgb(0, 0, 0)" 
                        	height="24" 
                        	role="img" 
                        	viewBox="0 0 24 24" 
                        	width="24">

                    	    <title>댓글 달기</title>

                        	<path   
                        		d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" 
                        		fill="none" 
                        		stroke="currentColor" 
                        		stroke-linejoin="round" 
                        		stroke-width="2">
                    	    </path>
                        </svg>
                    </div>
                    <div class="article_share like_comment_share_save_button">
                        <svg 
                        	aria-label="게시물 공유" 
                        	class="finger-cursor" 
                        	color="rgb(0, 0, 0)" 
                        	fill="rgb(0, 0, 0)" 
                        	height="24" 
                        	role="img" 
                        	viewBox="0 0 24 24" 
	                        width="24">
	
	                        <title>
	                    	    게시물 공유
	                        </title>
	                        <line fill="none" 
		                       stroke="currentColor" 
		                        stroke-linejoin="round" 
	                        	stroke-width="2" 
	                        	x1="22" 
	                        	x2="9.218" 
	                        	y1="3" 
	                        	y2="10.083">
	                        </line>
	                        <polygon 
	                        	fill="none" 
	                        	points="11.698 20.334 22 3.001 2 3.001 9.218 10.084 11.698 20.334" 
	                        	stroke="currentColor" 
	                        	stroke-linejoin="round" 
	                        	stroke-width="2">
	                        </polygon>
                        </svg>
                    </div>
                    <div class="article_save like_comment_share_save_button">
                        <svg 
                            aria-label="저장" 
                            class="finger-cursor" 
                            color="rgb(0, 0, 0)" 
                            fill="rgb(0, 0, 0)" 
                            height="24" 
                            role="img" 
                            viewBox="0 0 24 24" 
                            width="24">
                    
                            <title>저장</title>
                    
                            <polygon 
                                fill="none" 
                                points="20 21 12 13.44 4 21 4 3 20 3 20 21" 
                                stroke="currentColor" 
                                stroke-linecap="round" 
                                stroke-linejoin="round" 
                               stroke-width="2">
                            </polygon>
                        </svg>
                    </div>
                </div>
                <div class="num_of_like_row">
                    <b class="num_of_like_b">좋아요 {{post.likes_num}}개</b>
                </div>
                <div class="author_caption_content_tag">
                    <div class="author_name_and_content">
                        <span>
                            <b>{{post.author}}</b>
                            <span class="post_caption_span">{{post.caption}}</span>
                        </span>
                    </div>
                    <div class="hidden_article_content">
                        <span class="show_content finger-cursor" style="color: gray;">더보기</span>
                        <span class="article_content_span invisible" >{{post.content}}</span>
                        </span>
                        <p>{% for tag in post.tags.all %}
                                #{{tag.name }}
                                {% endfor %}</p>
                    </div>
                </div>
                <div class="article_comment">
                    <span class="show_all_comments finger-cursor show_all_comments_2" style="color: gray;">댓글 {{post.comments_num}}개 모두보기</span>
                </div>
                <div class="add_comment">
                    <div class="added_comment invisible"></div>
                    <textarea class="add_comment_content comment_content_box"></textarea>
                    <span  class="submit_comment submit_comment_button invisible finger-cursor" data-pk="{{post.pk}}" role="button" >게시</span>
                    <span class="comment_like_button"></span>
                </div>
            </article>
        {% endfor %}
    </div>
<!--
    
    <div class="modalOverlay modal_reserve">
        <div class="modal modal_reserve">
            <button class="modal-close modal_reserve">&times;</button>
            <div class="modal-content modal_reserve">
                <div class="mdal_image_div modal_reserve"></div>
                <div class="modal_right_div modal_reserve">
                    <div class="modal_right_author_div modal_reserve"></div>
                    <div class="modal_profile_and_content_value_div modal_reserve">
                        <div class="modal_profile_div modal_reserve"></div>
                        <div class="modal_content_value_div modal_reserve"></div>
                    </div>
                    <div class="modal_comment_div modal_reserve">
                        <div class="each_comment_div">
                            <div class="name_and_text">
                                <span>name</span>
                                <span>content</span>
                            </div>
                            <div>
                                <span>time</span>
                                <span>num_of_like</span>
                                <span>답글 달기</span>
                                <span>번역 보기</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal_post_like_line modal_reserve"></div>
                    <div class="modal_post_like_num_line modal_reserve"></div>
                <div>
            </div>
        </div>
    </div>
-->
{% endblock %}